In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
DIR = '/home/tfir/KJS/FinalLog/Player_action/'
flist = os.listdir(DIR)
flist.sort()
flist

['log_20100508.csv',
 'log_20100509.csv',
 'log_20100510.csv',
 'log_20100511.csv',
 'log_20100512.csv',
 'log_20100513.csv',
 'log_20100514.csv',
 'log_20100515.csv',
 'log_20100516.csv',
 'log_20100517.csv']

In [3]:
for s in flist:
    fname = DIR + s
    if s == 'log_20100508.csv':
        df1 = pd.read_csv(fname)
        max1 = df1['abyss']
        max1.index = df1['actor_account']
    else:
        df2 = pd.read_csv(fname)
        max2 = df2['abyss']
        max2.index = df2['actor_account']
        max1 = pd.merge(max1, max2, on='actor_account', how='outer').fillna(0).max(axis=1)
        max1.name = 'abyss'
max1 = max1.sort_index()
max1

actor_account
1000115    0.0
1001198    0.0
1001279    0.0
1002212    0.0
1002538    0.0
          ...
1998898    0.0
1999092    0.0
1999487    0.0
1999778    0.0
1999807    0.0
Name: abyss, Length: 3609, dtype: float64

In [4]:
drop_columns = ["sit_count_x", "sit_count_y", 
                "exp_get_amount_x", "exp_get_amount_y", 
                "item_get_count_x", "item_get_count_y",
                "exp_repair_count_x", "exp_repair_count_y",
                "money_get_count_x", "money_get_count_y",
                "use_portal_count_x", "use_portal_count_y",
                "killed_by_pc_x", "killed_by_pc_y",
                "killed_by_npc_x", "killed_by_npc_y",
                "teleport_count_x", "teleport_count_y",
                "reborn_count_x", "reborn_count_y",
                "question_count_x", "question_count_y"]
for s in flist:
    fname = DIR + s
    if s == 'log_20100508.csv':
        df = pd.read_csv(fname)
        del df['abyss']
    else:
        df2 = pd.read_csv(fname)
        del df2['abyss']
        df = pd.merge(df, df2, on='actor_account', how='outer').fillna(0)
        df["sit_count"] = df["sit_count_x"] + df["sit_count_y"]
        df["exp_get_amount"] = df["exp_get_amount_x"] + df["exp_get_amount_y"]
        df["item_get_count"] = df["item_get_count_x"] + df["item_get_count_y"]
        df["exp_repair_count"] = df["exp_repair_count_x"] + df["exp_repair_count_y"]
        df["money_get_count"] = df["money_get_count_x"] + df["money_get_count_y"]
        df["use_portal_count"] = df["use_portal_count_x"] + df["use_portal_count_y"]
        df["killed_by_pc"] = df["killed_by_pc_x"] + df["killed_by_pc_y"]
        df["killed_by_npc"] = df["killed_by_npc_x"] + df["killed_by_npc_y"]
        df["teleport_count"] = df["teleport_count_x"] + df["teleport_count_y"]
        df["reborn_count"] = df["reborn_count_x"] + df["reborn_count_y"]
        df["question_count"] = df["question_count_x"] + df["question_count_y"]
        df.drop(drop_columns, axis=1, inplace=True)

df = df.sort_values(by='actor_account').reset_index(drop=True)
df

,actor_account,sit_count,exp_get_amount,item_get_count,exp_repair_count,money_get_count,use_portal_count,killed_by_pc,killed_by_npc,teleport_count,reborn_count,question_count
0,1000115,52.0,100690515.0,1253.0,0.0,1365.0,1.0,24.0,26.0,134.0,35.0,27.0
1,1001198,0.0,0.0,32336.0,0.0,25.0,0.0,0.0,0.0,5.0,0.0,0.0
2,1001279,28.0,160907313.0,70661.0,2.0,642.0,0.0,1.0,15.0,76.0,12.0,19.0
3,1002212,11.0,810938.0,621.0,3.0,302.0,0.0,0.0,4.0,39.0,5.0,78.0
4,1002538,22.0,3072805.0,4429.0,5.0,113.0,0.0,0.0,4.0,33.0,5.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3604,1998898,0.0,43212.0,11269.0,0.0,20.0,0.0,0.0,0.0,17.0,0.0,0.0
3605,1999092,105.0,4448510.0,1513.0,11.0,545.0,0.0,0.0,14.0,66.0,13.0,104.0
3606,1999487,100.0,529643398.0,69811.0,0.0,4426.0,0.0,121.0,40.0,429.0,98.0,735.0
3607,1999778,100.0,469953423.0,13265.0,3.0,2718.0,0.0,30.0,63.0,250.0,61.0,210.0
3608,1999807,11.0,14733837.0,13720.0,8.0,132.0,2.0,2.0,14.0,54.0,10.0,32.0

In [5]:
Player_action = pd.merge(df, max1, on='actor_account', how='outer').fillna(0)
Player_action = Player_action[["actor_account", "sit_count", "exp_get_amount" ,"item_get_count", "exp_repair_count", "money_get_count", "abyss", "use_portal_count", "killed_by_pc", "killed_by_npc", "teleport_count", "reborn_count", "question_count"]]
Player_action

,actor_account,sit_count,exp_get_amount,item_get_count,exp_repair_count,money_get_count,abyss,use_portal_count,killed_by_pc,killed_by_npc,teleport_count,reborn_count,question_count
0,1000115,52.0,100690515.0,1253.0,0.0,1365.0,0.0,1.0,24.0,26.0,134.0,35.0,27.0
1,1001198,0.0,0.0,32336.0,0.0,25.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
2,1001279,28.0,160907313.0,70661.0,2.0,642.0,0.0,0.0,1.0,15.0,76.0,12.0,19.0
3,1002212,11.0,810938.0,621.0,3.0,302.0,0.0,0.0,0.0,4.0,39.0,5.0,78.0
4,1002538,22.0,3072805.0,4429.0,5.0,113.0,0.0,0.0,0.0,4.0,33.0,5.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3604,1998898,0.0,43212.0,11269.0,0.0,20.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0
3605,1999092,105.0,4448510.0,1513.0,11.0,545.0,0.0,0.0,0.0,14.0,66.0,13.0,104.0
3606,1999487,100.0,529643398.0,69811.0,0.0,4426.0,0.0,0.0,121.0,40.0,429.0,98.0,735.0
3607,1999778,100.0,469953423.0,13265.0,3.0,2718.0,0.0,0.0,30.0,63.0,250.0,61.0,210.0
3608,1999807,11.0,14733837.0,13720.0,8.0,132.0,0.0,2.0,2.0,14.0,54.0,10.0,32.0

In [9]:
label = pd.read_csv("/home/tfir/dataset/labeled_account.csv")
label.columns = ["actor_account", "class"] 
label

      actor_account  class
0           1000127      0
1           1000344      0
2           1000779      1
3           1000949      1
4           1001067      0
...             ...    ...
5395        1999339      0
5396        1999462      0
5397        1999554      0
5398        1999606      1
5399        1999969      0

[5400 rows x 2 columns]

In [10]:
Player_action = pd.merge(Player_action, label, on="actor_account", how="outer")
Player_action

,actor_account,sit_count,exp_get_amount,item_get_count,exp_repair_count,money_get_count,abyss,use_portal_count,killed_by_pc,killed_by_npc,teleport_count,reborn_count,question_count,class
0,1000127,78.0,35424475.0,863.0,3.0,207.0,0.0,0.0,27.0,5.0,70.0,16.0,13.0,0
1,1000344,43.0,169972518.0,1042.0,18.0,935.0,0.0,0.0,24.0,19.0,111.0,36.0,17.0,0
2,1000779,84.0,30309919.0,22531.0,0.0,9.0,0.0,0.0,21.0,18.0,61.0,37.0,0.0,1
3,1000949,15.0,468.0,12201.0,0.0,0.0,0.0,0.0,6.0,0.0,20.0,4.0,0.0,1
4,1001067,4657.0,344987838.0,13406.0,4.0,1591.0,0.0,0.0,141.0,51.0,186.0,154.0,461.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,1999339,9.0,7028048.0,9409.0,0.0,3.0,0.0,0.0,5.0,2.0,14.0,4.0,43.0,0
5396,1999462,79.0,49017517.0,1680.0,18.0,214.0,0.0,0.0,7.0,29.0,146.0,26.0,40.0,0
5397,1999554,0.0,1919226.0,4240.0,0.0,79.0,0.0,0.0,0.0,2.0,2.0,2.0,100.0,0
5398,1999606,446.0,392650112.0,149314.0,10.0,67.0,0.0,0.0,0.0,35.0,104.0,33.0,44.0,1
5399,1999969,3.0,72949535.0,419797.0,9.0,381.0,0.0,0.0,0.0,11.0,36.0,10.0,846.0,0

In [6]:
Player_action.to_csv("/home/tfir/KJS/FinalLog/Player_action.csv", index=False, encoding='utf8')